doctype html
include includes/head.pug

body
  // if data
    ul
      each val in data
        li=val.distance
        li=val.members

// navbar 
nav
  ul
    li <ion-icon name="heart"></ion-icon>
    li 
  div.home

// header 
header
  h1 Discover Events
  h2 Stay active Together
main
  section
    form.search
      input(type='text' placeholder='Find events...')
    button.filter-button <ion-icon name="options"></ion-icon>
  section
    h2.results #{results} Available Events!
    
    // cards (groups)
    article
     div
      h1 walk in the park
      h2 Activity: walking
      ul
        li= groupMembers
        li Amsterdam Vondelpark
        li 2 hours
        li 0/10
        li 20 km
      a(href='#') More Information!
   
include includes/footer.pug

// filter page 
section.filters-hidden
  nav
    ul
      li
        button.close-filter Close
      li
        h2 filters
      li
        button Reset
  
  // filter form (inputs)
  form.form(action="/" method='POST')
    label(for='activity') Activities
    select#activity(name='activity')
      option all
      option(value='cycling') Cycling
      option(value='walking') Walking
      option(value='jogging') Jogging
      option(value='fishing') Fishing
    label(for='distance') Distance
    input#distance(type='range', name='distance', min='0', max='50', step='10' value="0" oninput="this.nextElementSibling.value = this.value")
    output 0
    label(for='attendence') Attendence (max.)
    select#attendence(name='attendence')
      option all
      option(value=10) 10 people
      option(value=20) 20 people
      option(value=30) 30 people
      option(value=40) 40 or more people
    label(for='duration') Duration (max.)
    select#duration(name='duration')
      option all
      option(value=1) 1 hour
      option(value=2) 2 hours
      option(value=3) 3 hours
      option(value=4) 4 hours or more
    input(type='submit' value='FILTER')

script(src='/scripts/app.js')

// all used icons are from: https://ionicons.com/ and are loaden with the script below: 
script(src='https://unpkg.com/ionicons@5.4.0/dist/ionicons.js')
   