doctype html
include includes/head.pug

body
nav
  ul
    li <ion-icon name="heart"></ion-icon>
    li 
  div.home
header
  h1 Discover Events
  h2 Stay active Together
main
  section
    form.search
      input(type='text' placeholder='Find events...')
      button.filter-button <ion-icon name="options"></ion-icon>
  section
    h2.results #{results} available Events
    
    // background image article
    article
     div
      h1 walk in the park
      h2 Activity: walking
      ul
        li= groupMembers
        li Amsterdam Vondelpark
        li 2 hours
        li 5 april 2021
      a(href='#') More Information!
   
include includes/footer.pug

section.filters-hidden
  nav
    ul
      li
        button.close-filter Close
      li
        h2 Filters
      li
        button Reset
  form.form(action='/' method='POST')
    label(for='activities') Activities
    select#activities(name='activities')
      option All
      option Cycling
      option Walking
      option Jogging
      option Fishing
    label(for='date') Date
    input#date(type='date', name='date')
    label(for='distance') Distance
    input#distance(type='range', name='distance', min='0', max='50', step='10')
    label(for='attendence') Attendence
    select#attendence(name='attendence')
      option 0-10 people
      option 10-20 people
      option 20-30 people
      option 30-40 people
      option 40 + people
    label(for='duration') duration
    select#duration(name='duration')
      option 0.5 - 1 hour
      option 1 - 2 hours
      option 2 - 3 hours
      option 3 + hours
    input(type='submit')

script(src='/scripts/app.js')
script(src='https://unpkg.com/ionicons@5.4.0/dist/ionicons.js')
   