/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*///////////////////////////////////////////////////////////*/

/* fonts
font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* colors 
blue = #00A8FF
black = #1E272E
rood = #F53B57
*/ 

/* all */ 
*{
    font-family: 'Lato', sans-serif;;
}

h1, h2, label{
    font-family: 'Poppins', sans-serif;
}

header h1 + h2{
    font-family: 'Caveat', cursive;
}

/* nav */ 
ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    margin: 1em .5em 0 0;
}

div.home{
    position: absolute;
    color:white;
    top: 0; 
    left: 0;
    width: 2.5em;
    height: 2.5em;
    background-color: #00A8FF;
    border-radius: 30% 70% 100% 0% / 0% 0% 100% 100%; 
    font-size: 1em;
}

/*header*/ 

header:first-of-type{
    position: relative;
    /* flex-box */ 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    left: 15%;
    width: 100%; 
    height: auto; 
    margin-bottom: 1em;
    
    
}
header:first-of-type h1{
    color: #00A8FF;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2em; 
}

/* search */ 

section:first-of-type{
    position: relative;
    left: 15%;
    margin-top: 2em;
    width:100%;

}


section:first-of-type form {
    text-align: center;
    width: 80%; 
    display: flex;
    
}


input[type="text"]{
    border-radius: 8px; 
    border: solid .5px #00A8FF;
    background: #F9F9F9; 
    height: 2em;
    width: 50%;
    margin-right: 1em;
    text-align: center;
}

/* dynamic results */ 

section:nth-of-type(2) {
    margin-top: 2em;
}

.results{
    position: relative;
    left: 15%; 
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 1em;
}

/* card */ 


















section:last-of-type{
    background-color: lightgray;
}



